.logo {
  margin-left: auto;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  display: block;
}

h1 {
  font-size: 50px;
  font: 'https://fonts.googleapis.com/css?family=Noto+Sans';
  color: white;
  text-align: center; 
  margin-top: -20px;
}

.login-button {
  color-scheme: light;
  height: 40px;
  width: 250px;
  display: flex;
  margin: 10% auto;
  justify-content: center;
}

.center-nobg {
  width: 600px;
  margin: auto;
  justify-content: center;
}