.upload-buttons {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1px;
    margin-right: 1px;
}

.drop-container {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #f3f3f3;
    margin: 0;
}

#imagePreview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

#imagePreview img {
    max-width: 150px;
    max-height: 150px;
    margin: 10px;
}