<app-navbar firstSelected="true" secondSelected="false" thirdSelected="false"></app-navbar>

<mat-card class="card">
  <h1 style="margin-top: 0px;">Welcome to Bird AI</h1>
  <p>With the help of ai figure out what kind of bird it is you found. Our model is trained on over 500 species of birds.</p>
</mat-card>

<p></p>

<mat-card class="card">
  
  <mat-vertical-stepper>


    <form [formGroup]="form">

    <mat-step>
      <ng-template matStepLabel>Select type of media</ng-template>
      <mat-radio-group formControlName="option">
        <mat-radio-button value="option1">Image</mat-radio-button><br>
        <mat-radio-button value="option2">Sound</mat-radio-button>
      </mat-radio-group>
      <br/>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>

    <mat-step *ngIf="form.value.option === 'option1'">
        <ng-template matStepLabel>Select the Image</ng-template>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" style="padding-top: 2px; padding-bottom: 4px"/>

        <img *ngIf="selectedImage" [src]="selectedImage" alt="Selected Image" width="92%" />
        <button *ngIf="selectedImage" mat-icon-button style="position: absolute; left: 22px; top: 22px;" (click)="onClear()" color="primary"><mat-icon>delete</mat-icon></button>
        
        <div style="padding-top: 6px">
          <button mat-button matStepperPrevious style="margin-right: 6px;">Back</button>
            <button mat-raised-button color="primary" type="button" (click)="onSubmit(loading)" [disabled]="!selectedImage">Submit</button>

        </div>

    </mat-step>

    <mat-step *ngIf="form.value.option === 'option2'">
      <ng-template matStepLabel>Select the Sound</ng-template>
      <p>Not implemented</p>

      <div>
        <button mat-button matStepperPrevious style="margin-right: 6px;">Back</button>
        <button mat-button matStepperNext disabled>Submit</button>
      </div>
      
    </mat-step>
    </form>

  </mat-vertical-stepper>
</mat-card>



<p></p>

<div *ngIf="toggle">
  <div *ngIf="analyzed">
    <mat-card class="card" style="text-align: center;">
      <!-- <img id="ItemPreview" src={{analyzed.data.picture.data}}> -->
      <img id="ItemPreview" src="{{jsonlist.list3[1].image}}" width="100%">
      <p>Name: {{analyzed.data.name}}</p>
      <p>Accuracy: {{analyzed.data.accuracy}}</p>
      <div style="display: flex; flex-direction: row; justify-content: center;">
        <button mat-button (click)="togglePreview()">Remove</button>
        <button mat-button (click)="createPost()">Post</button>
    </div>
    </mat-card>
  </div>
</div>


<p></p>

<div #loading style="height: 1000px;">
  <div *ngIf="isLoading" style="height: 100%; z-index: 1000; position: fixed; top: 0px; width: 100%; background-color:  #4242425b;">
    <mat-spinner style="margin: auto; top: 40%;"></mat-spinner>
  </div>
  <mat-card *ngIf="data != null" class="card">
  </mat-card>
</div>

<app-bottominfo></app-bottominfo>


