<p></p>
<p></p>
<div class="fpContainer">
    <div class="center-nobg" style="margin: auto;">
        <div style="left: 50px;">
            <img src="assets/birdAI-logo.svg" class="logo">
            <h1>BirdAI</h1>
        </div>
        <div class="textbox" >
            Birdwatching has never been easier!
            <p></p>
            <button mat-icon-button color="primary" (click)="navigateToLogin()" style="width: 50%;">
                login
                <mat-icon>login</mat-icon>
            </button>
        </div>
    </div>

    <p style="height: 50px;"></p>

    <div class="center-nobg" style="margin: auto;">
        <div>
            <img src="assets/promo.webp" style="width: 200px; height: 200px; object-fit: cover;">
            <p>Take a picture of any bird</p>
        </div>

        <div>
            <mat-icon style="margin-top: 120%; padding: 20px;">navigate_next</mat-icon>
            </div>  
        <div>
            <img src="assets/upload.jpg" style="width: 200px; height: 200px; object-fit: cover;">
            <p>Upload it to the BirdAI</p>
        </div>

        <div>
        <mat-icon style="margin-top: 120%; padding: 20px;">navigate_next</mat-icon>
        </div>  

        <div>
            <img src="assets/birddata.png" style="width: 200px; height: 200px; object-fit: cover;">
            <p>Get back an identification and more</p>
        </div>
        
    </div>
</div>