

  .logo {
    width: fit-content;
    height: 300px;  
  }
  

  .sign-up-with-google-button {  
    position: relative; 
    width: 200px; 
    height: 50px; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    cursor: pointer;
    background-color: #121212;
    top: 0;
    left: 0;
    
  }

  .container2 {
    display: flex;
    height: 100vh; 
  }

  .logo-container2 {
    flex: 2; 
    background: #336699; 
    display: flex;
    flex-direction:column; 
    align-items: center; 
    justify-content: center; 
    color: white;
    font-size: 24px;
    order: 1; 
  }

  .items-container {
    flex: 1; 
    display: flex;
    flex-direction:column; 
    justify-content: center; 
    padding: 20px; 
    order: 2; 
    text-align: center;
  }
  
  .content-element {
    margin: 10px 0; 
    font-size: 18px; 
  }

  .image-row {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    padding: 20px;
  }

  .image {
    flex: 1; 
    text-align: center;

  }

  .solid-line {
    border: none; 
    border-top: 2px solid white; 
    margin: 10px 0; 
    width: 98%;
    text-align: center;
  }

  .text-container {
    height: 80px; 
    overflow: hidden; 
    font-size: small;
  }
