<div class="container2">
    <!-- <div class="center-nobg"> -->

        <div class="logo-container2">
            <img src="assets/birdAI-logo.svg" class="logo">
        </div>

        <div class="items-container">

            <div class="content-element" style="font-size: 40px;">Birdwatching has never been easier!</div>  

            <div class="content-element">            
                <button class="sign-up-with-google-button" (click)="navigateToLogin()">
                <img src="assets/google-logo.png" style="width: 15px;"/>
                Sign up with Google
            </button>
            </div>
            
            <div class="image-row">
                <div class="image">
                    <img src="assets/promo.webp" [style.width.px]="imgsize" [style.height.px]="imgsize">
                    <p style="font-size: small;">Take a picture of any bird</p>
                </div>

                <mat-icon style="margin-top: -10%;">navigate_next</mat-icon>

                <div class="image">
                    <img src="assets/upload.jpg" [style.width.px]="imgsize" [style.height.px]="imgsize">
                    <p style="font-size: small;">Upload it to the BirdAI</p>
                </div>

                <mat-icon style="margin-top: -10%;">navigate_next</mat-icon>

                <div class="image">
                    <img src="assets/birddata.png" [style.width.px]="imgsize" [style.height.px]="imgsize">
                    <p style="font-size: small; margin-top: -5px;">Get back an identification and many other interesting facts</p>
                </div>
                
            </div>
        </div>
        
    </div>

    