# ---Backend---
.idea
.DS_Store
# ---Frontend---

# ---AI---
src/AI/classification_model/mobilenet_model.keras
src/AI/classification_model/__pycache__
src/AI/classification_model/__pycache__/
src/AI/detection_model/__pycache__/
src/AI/detection_model/yolov8m.pt
src/AI/detection_model/boxes/
src/AI/classification_model/images/
src/AI/ai-controller/__pycache__/