<app-navbar firstSelected="false" secondSelected="false" thirdSelected="false"></app-navbar>
  
<mat-card class="card" style="text-align: center; line-height: 1.6;">
    <p>About us at BirdAI</p>
    <p>
      We are a team of nine, studying the course <span style="font-style: italic;">Projekt i interaktiva system D7057E</span> at Luleå Tekniska Universitet. 
      The app we are developing for this project is BirdAI. The goal with BirdAI is to be able to identify any bird you might encounter to then with the help 
      of AI figure out relevant info about the bird such as: name, family etc. This however is not the only use we have envisioned for BirdAI as we hope to 
      expand it into a larger social app for birdenthusiasts all around the world to interact with each other.
    </p>
</mat-card>

<p></p>

<mat-card class="card" style="text-align: center; line-height: 1.6;">
    <p>Contact</p>
    <p>Email: BirdAI@hotmail.com</p>
    <p>
        We at BirdAI encourage all users to upload birds they find in order to create a posts. As an open user generated site content may slip through our moderation process.
        If you claim copyright to any images on the site please send us an email and valid requests and it will be removed.
        Alternatively we are happy to credit and link images if prefered.
    </p>
</mat-card>

<p></p>

<mat-card class="card">
    <p>Frequently asked questions</p>
    <p>
      X: Todo <br>
      <br> 
      X: Todo
    </p>
</mat-card>

<p></p>