<div class="navbar" *ngIf="socialAuthService.authState | async as socialUser">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  
    <div class="nav-logo">
      <img src="../assets/birdAI-logo.svg" width="40px" height="40px">
    </div>
  
    <div class="nav-buttons">
      <button class="nav-button" (click)="navigateToHome()"><span class="material-symbols-outlined">home</span></button>
      <button class="nav-button" (click)="navigateToTakenImages()"><span class="material-symbols-outlined">image</span></button>
      <button class="selected-nav-button" (click)="navigateToLibrary()"><span class="material-symbols-outlined">grid_view</span></button>  
</div>

<div class="profile">
    <button class="profile-button" tabindex="0">
      <img src="{{socialUser.photoUrl}}" width="40px" height="40px" style="border-radius: 50%;">
    </button> 
    <ul class="sub-menu">
      <button class="sub-menu-button" (click)="navigateToProfilePage()">{{socialUser.name}}<span class="material-symbols-outlined">chevron_right</span></button><br>
      <mat-slide-toggle [(ngModel)]="mainApp.isDark">Darkmode</mat-slide-toggle><br>
      <button class="sub-menu-button" (click)="logout()">Logout</button>
    </ul>
  </div>
</div>

<!-- 
    The images, name of species, description and map (map might not be implemented as it is alot of work for minor feature)
    needs to be fetched from backend dynamically.
-->

<p></p>

<div class="container">
    <!-- <a class="prev" (click)="moveToLibrary()">❮Library</a> -->
    <div class="desc" style="display: flex;justify-content: space-between;">
        <p style="flex: 1;">{{imageName}}</p>
        <p style="flex: 1; text-align: right;">2023/09/06</p>
    </div>
    <p></p>

        <div class="image-container">
            <img [src]="currentImage" alt="Slideshow Image" class="fit-image" id="Slideshow-image">
        </div>
        <div class="buttonContainer">        
            <a class="prev" (click)="prevImage()">❮</a>
            <a class="next" (click)="nextImage()">❯</a>
        </div>
        <p></p>

    <!-- <div class="scroll-container">
        <img src="assets/undulat.jpg" alt="duck_1">
        <img src="assets/duck.jpg" alt="duck_2">
        <img src="assets/duck.jpg" alt="duck_3">
        <img src="assets/duck.jpg" alt="duck_4">
        
    </div> -->
    Info: <br>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
    when an unknown printer took a galley of type and scrambled it to make a type 
    specimen book. It has survived not only five centuries, but also the leap into 
    electronic typesetting, remaining essentially unchanged. It was popularised in 
    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
    and more recently with desktop publishing software like Aldus PageMaker including 
    versions of Lorem Ipsum.
    <div class="container" style="text-align: center;"> Common regions: <img src="assets/map.png" style="width: 100%;"></div>
</div>