div.gallery {
  margin: 5px;
  width: 180px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  
}

div.gallery img:hover {
  cursor:pointer;
  opacity: 0.7;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: left;
  color: white;
}

.dropDownButton {
  background-color: #424242;
  border: none;
  cursor: pointer;
}


.dropDownButtons {
  
  position: absolute;
  right: 1%;
  background-color: #424242;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); 
  z-index: 2;
  border-radius: 7px;
  list-style: none;
  padding: 0;
  flex-direction: column;
}

.show {
  display: block;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 60%;
  right: 1%;
  background-color: #424242;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25); 
  z-index: 2;
  border-radius: 7px;
  list-style: none;
  padding: 0;
  flex-direction: column;
}