<app-navbar firstSelected="false" secondSelected="true" thirdSelected="false"></app-navbar>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<div *ngIf="userList.data.length === 0">
  <mat-card class="card">
    <p>Use our tool to upload your images and they will appear here</p>
  </mat-card>
</div>

<div *ngFor="let item of userList.data.slice().reverse(); let i = index">
  <p></p>
    <mat-card class="resultCard" (click)="navigateToSpecies(item.userMedia.data, item.bird.Name, item.bird.Sound , item.bird.Description, item.bird.species)">
      <div class="imageContainer">
        <img class="imagePreview" [src]=item.userMedia.data alt="Duck" width="100%">
        <button class="more-button" (click)="toggleSubMenu(i, $event)" tabindex="0">
          <span class="material-symbols-outlined">more_horiz</span>
        </button>
        <ul class="sub-menu" [class.visible]="activeSubMenuIndex === i" (click)="$event.stopPropagation()">
          <button mat-raised-button (click)="getPostIdToDelete(item._id)">Delete this post</button><br>
          <button mat-raised-button (click)="updateForm(item._id, item.location, item.comment, item.bird.Id)">Update this post</button>
        </ul>
      </div>
      <div class="alignment">
        <h2 class="textAlignment" style="flex: 1;">{{item.bird.Name}}</h2>
        <p class="textAlignment"  style="flex: 1; text-align: right;">{{item.location}} <span class="material-symbols-outlined">location_on</span></p>
      </div>
      <div class="alignment">
        <p class="textAlignment" style="flex: 1;">{{item.accuracy}}</p>
        <p class="textAlignment" style="flex: 1; text-align: right;">{{parseDate(item.createdAt)}}</p>
      </div>
      <p class="textAlignment" style="flex: 1;">{{item.comment}}</p>
    </mat-card>
</div>


<div *ngIf="openForm" style="height: 100%; z-index: 1000; position: fixed; top: 0px; width: 100%; background-color: #4242425b;">
  <mat-card class="card" style="top: 20%; background-color: rgb(31, 32, 32); max-width: 500px;">
    <form [formGroup]="updateDetailsForm" (ngSubmit)="updatePost()" class="form-container">

      <div><label for="location">Location: </label></div>
      <div><input class="form-group" type="text" id="location" formControlName="location" required></div>
    
      <div><label for="comment">Comment: </label></div>
      <div></div>
      
      <div class="form-group-double"><textarea id="comment" rows="6" cols="55" class="textarea" formControlName="comment"></textarea></div>
    
      <button mat-raised-button color="warn" (click)="closePostForm()" class="form-group">Abort</button>
      <button mat-raised-button color="primary" type="submit" class="form-group">Update post</button>
    </form>
  </mat-card>
</div>

<app-bottominfo></app-bottominfo>
