/* You can add global styles to this file, and also import other style files */

html, body {
    background-color: #18191A;
    height: 100%;
}
  
body {
    margin: 0;
    font-family: Sans, "Helvetica Neue", sans-serif;
}

card {
    margin: 0;
    font-family: Sans, "Helvetica Neue", sans-serif;
}