/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    color-scheme: dark;
    scroll-behavior: smooth;
}

body {
    margin: 0;

    font-family: Roboto, "Helvetica Neue", sans-serif;

}

.card {
    margin: 0 auto;
    max-width: 50%;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
}

.container {
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 50%;
    background-color: #242526;
    border-radius: 7px;
    padding: 20px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
}

button {
    transition: filter 0.1s;
}

button:hover {
    filter: brightness(70%);
}

.bot-navbar {
    background-color:  #424242;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color:  #424242a9;
    padding: 10px 0;
}

.bot-navbar {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
